<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Productos</h1>
    <ul>
        {{#each products}}
            <li>
                <span>{{this.name}}</span>
                <span>{{this.price}}</span>
                <span>{{this.category}}</span>
                <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
            </li>
        {{/each}}
    </ul>
    
    {{#if prevLink}}
        <a href="{{prevLink}}">Página anterior</a>
    {{/if}}
    {{#if nextLink}}
        <a href="{{nextLink}}">Página siguiente</a>
    {{/if}}

    <script>
        function addToCart(productId) {
            // Lógica para agregar el producto al carrito
            alert('Producto agregado al carrito');
        }
    </script>
</body>
</html>
